

body {
  background-color: #fef6e4;
  font-family: "VT323", monospace;
}

.variant {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correctAnswer {
  color: #FFFFFF;
  background: #198754;
  padding: 1rem;
}

.correctAnswer:after {
  background: #198754;
  color: #FFFFFF;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  top:10px;
  content: "correct!";
}

.incorrectAnswer {
  background: #DC3545;
  color: #FFFFFF;
}

.incorrectAnswer:after {
  background: #DC3545;
  color: #FFFFFF;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  top:10px;
  content: "incorrect!";
}
